@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#bg {
  clip-path: polygon(3% 0, 37% 0, 58% 100%, 24% 100%);
  background-color: #bfa97f;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.title img {
  width: 70px;
  margin: 10px;
}

#bg2 {
  clip-path: polygon(40% 0, 74% 0%, 96% 100%, 62% 100%);
  background-color: #c8c7b5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.toolbar ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.toolbar ul .title {
  float: left;
  padding: 14px 16px;
  color: white;
}

.toolbar ul .about {
  float: right;
  padding: 14px 16px;
  color: white;
}

.card {
  float: left;
  text-align: center;
  width: 50%;
}

#homeForm input {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 60px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#searchPageForm input {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 35px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#homeForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 60px;
  width: 80%;
  text-align: center;
}

#homeForm label select {
  /* margin-left: 40px; */
}

#homeForm form {
  display: inline;
}

#homeForm form select {
  border: none;
  font-size: 60px;
  margin: 10px;
  width: 380px;
  /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
  padding: 10px;
  outline: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 350px;
}

#searchPageForm {
  position: absolute;
  top: 24%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

#searchPageForm form {
  display: inline;
}

#searchPageForm form select {
  border: none;
  font-size: 30px;
  width: 290px;
  margin: 10px;
  padding: 5px;
  outline: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 260px;
}

.boxes {
  width: 20px;
  height: 20px;
  margin: 15px;
  display: inline-block;
}

.boxContainer {
  text-align: center;
}

#contentContainer {
  margin: 100px 240px auto 240px;
}

@media screen and (max-width: 1350px) {
  #contentContainer {
    margin: 100px 160px auto 160px;
  }
}
@media screen and (max-width: 1000px) {
  #contentContainer {
    margin: 140px 80px auto 80px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
}

#copiedToBoard {
  position: fixed;
  width: 300px;
  top: 0px;
  height: 40px;
  right: 25%;
  padding: 10px;
  left: 50%;
  margin-left: -150px;
  background-color: pink;
  display: none;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#palette {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 70px;
  margin: 20px;
  color: green;
  cursor: pointer;
}
.nav {
  position: fixed;
  bottom: 40px;
  height: 40px;
  right: 25%;
  padding: 10px;
  left: 50%;
  margin-left: -150px;
}
.nav button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.nav .active {
  background-color: red;
}

#paletteContainer {
}

#paletteContainer:nth-child(even) {
  float: left;
  text-align: center;
  width: 100%;
}
#paletteContainer:nth-child(odd) {
  float: right;
  text-align: center;
  width: 100%;
}

#paletteContainer div {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

#paletteViewer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 600px;
  width: 360px;
  background: pink;
  border-radius: 30px;
  z-index: 3;
  text-align: center;
}

.fadeModalPresent {
  opacity: 0.4;
}

.paletteColorBox {
  width: 55px;
  height: 55px;
  align-self: flex-end;
  position: absolute;
  right: 40px;
}

#paletteContainer div p {
  font-size: 40px;
  margin: 0 0 0 20px;
}
